<!-- plugins CSS -->
<link rel="stylesheet" href="assets/scss/plugins.scss">
<!-- Icons CSS -->
<link rel="stylesheet" href="assets/scss/icons.scss">
<!-- Tailwind CSS -->
<link rel="stylesheet" href="assets/scss/tailwind.scss">
<link rel="stylesheet" href="assets/css/chat.css">

<script type="module" src="assets/js/admin.bundle.js"></script>
<script type="module" src="assets/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const __API_URL__ = "http://192.168.132.4:3000";
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">